<div>
  <h2>Test Component</h2>
  <h2>Welcome, <strong>{{ currentUser.username }}</strong>!</h2>
  <button mat-raised-button routerLink="/dashboard">Go Back</button>
  <button mat-raised-button (click)="fetchInterestingData()">Fetch Interesting Data</button>
  <div *ngIf="interestingData">
    <h3>Interesting Fact:</h3>
    <p>{{ interestingData.fact }}</p>
  </div>
  <button mat-raised-button (click)="getAirQuality()">Get Air Quality Data</button>
  <ng-container *ngIf="isLoading" style="padding-left: 10px">
    <p>Loading air quality data...</p>
  </ng-container>
  <ng-container *ngIf="!isLoading && airQualityData" style="padding-left: 10px">
    <br><br>
    <h2>Air Quality Data:</h2>
    <mat-card *ngFor="let result of airQualityData.results">
      <h4><strong>{{ result.location }}, {{ result.city }}, {{ result.country }}</strong></h4>
      <p>Latitude: {{ result.coordinates.latitude }}, Longitude: {{ result.coordinates.longitude }}</p>
      <mat-table [dataSource]="result.measurements" class="mat-elevation-z8">
        <ng-container matColumnDef="parameter">
          <mat-header-cell *matHeaderCellDef>Parameter</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.parameter }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.value }} {{ element.unit }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastUpdated">
          <mat-header-cell *matHeaderCellDef>Last Updated</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.lastUpdated | date:'short' }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </ng-container>
</div>
