<div>
  <h2>Test Component</h2>
  <h2>Welcome, <strong>{{ currentUser.username }}</strong>!</h2>
  <button mat-raised-button routerLink="/dashboard">Go Back</button>
  <button mat-raised-button (click)="fetchInterestingData()">Fetch Interesting Data</button>
  <div *ngIf="interestingData">
    <h3>Interesting Fact:</h3>
    <p>{{ interestingData.fact }}</p>
  </div>
  <button mat-raised-button (click)="getAirQuality()">Get Air Quality Data</button>
  <div *ngIf="airQualityData">
    <h3>Air Quality Data:</h3>
    <pre>{{ airQualityData | json }}</pre>
  </div>
</div>
