<div class="register-container">
  <h2>Register Component</h2>
  <form form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select formControlName="role" required>
            <mat-option value="employee">Employee</mat-option>
            <mat-option value="employer">Employer</mat-option>
            <mat-option value="contractor">Contractor</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="loading">Register</button>
      </form>
      <div *ngIf="error" class="error-message">{{error}}</div>
</div>
